registry=https://pkgs.dev.azure.com/1RivetUSInc/_packaging/1RivetUSInc/npm/registry/ 
                        
always-auth=true
; begin auth token
//pkgs.dev.azure.com/1RivetUSInc/_packaging/1RivetUSInc/npm/registry/:username=1RivetUSInc
//pkgs.dev.azure.com/1RivetUSInc/_packaging/1RivetUSInc/npm/registry/:_password=[cGtwZjcyaHRkazJ2cTN0czJkaWhwNzN0d3hudmZ0dmZqeHVtcnZ2Ymk2NjVnN3pvbnc0YQ==]
//pkgs.dev.azure.com/1RivetUSInc/_packaging/1RivetUSInc/npm/registry/:email=nikunj.patel@1rivet.com
//pkgs.dev.azure.com/1RivetUSInc/_packaging/1RivetUSInc/npm/:username=1RivetUSInc
//pkgs.dev.azure.com/1RivetUSInc/_packaging/1RivetUSInc/npm/:_password=[cGtwZjcyaHRkazJ2cTN0czJkaWhwNzN0d3hudmZ0dmZqeHVtcnZ2Ymk2NjVnN3pvbnc0YQ==]
//pkgs.dev.azure.com/1RivetUSInc/_packaging/1RivetUSInc/npm/:email=nikunj.patel@1rivet.com
; end auth token